@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-checkbox:checked {
  @apply right-0 border-green-400;
  right: 0;
  border-color: #68d391;

  .toggle-label {
    @apply bg-green-400;
    background-color: #68d391;
  }
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  /* @apply w-6 h-6 appearance-none pointer-events-auto; */
}
